<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">    
<link type="text/css" href="style.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">      
<title>Weight & Wellness with Bríd {% block title %}{% endblock %}</title>
</head>
<body> 
<header>
<nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/legal">Legal</a></li>
</ul>
</nav>
</header>    

{% block main %}{% endblock %}
        
<footer class="footer">
<br>
<div class="writingbox">
<section>
<a href="https://www.facebook.com/Weight-Wellness-With-Br%C3%ADd-638811049635574" target="_blank" role="button" class="fa-3x"><i class="fa fa-facebook" style="background-color: #4267B2;"></i>
</a>      
<a href="https://www.instagram.com/wwwcoach_brid/" target="_blank" role="button" class="fa-3x"><i class="fa fa-instagram" style="background-color: #fb3958;"></i>
</a>       
</section>    
<p style="color:black">
If interested, book a one-to-one consultation with me using the details below.
</p>
<div style="text-align: center">
<h6>Contact</h6>
<hr>
<p>
<a href='http://maps.google.com/?q=Cluanlara, Ballydevitt, Donegal Town, Co. Donegal, F94 WA48'><i class="fa fa-home me-3"></i> Cluanlara, Ballydevitt, Donegal Town, Co. Donegal, F94 WA48</a>
</p>
<p>
<a  href="mailto:wwwbrid22@gmail.com"><i class="fa fa-envelope me-3"></i>wwwbrid22@gmail.com</a>
</p>
<p>
<a href='tel:0861922110'><i class="fa fa-phone me-3"></i> 0861922110</a>
</p>
<br>
<p>
Copyright © 2022 Weight & Wellness with Bríd - all rights reserved.
This website is owned and operated by Weight & Wellness with Bríd. Weight loss may vary from person to person due to individual differences and weight loss goals.
</p>    
</div>      
</div>
</footer>
</body>
</html>
