{% extends "layout.html" %}

{% block title %}
    Legal
{% endblock %}

{% block main %}

<div class='container mt-5'>
    <h1 class='display-4' >Terms & Conditions</h1><hr>
</div>
    
<div class='container'>
    <h2>Disclaimer</h2>
    <br>
    <h3>Weight & Wellness with Bríd</h3><br>
    <p class="tandcs">
1. The fee for a service is set and is per session. Prices are introductory from January 2022.<br><br>   
2. All payments made from January 2022 are taken either through the in-built Stripe payment system on the website for Zoom meetings or in-person payment for Express Check-Ins.<br><br>
3. Recording of interactive classes, or sessions within our community is strictly prohibited. Classes are strictly private and confidential.<br><br>
4. I am not affiliated with any weight loss company and any advice or recommendations are that of Bríd Griffin as a weight-loss consultant. I am not medically qualified and any advice given from a medical practitioner supersedes any guidance received here. Please consult your doctor if you need medical advice.<br><br>
5. Your personal information will be stored in a locked cabinet and / or encrytped laptop. This information is stored to help us deliver you the best service. You can request this data at any time. If I have not seen you in a year we will destroy your data. You can also request to have data destroyed at any time.<br><br>
6. Face-to-face private sessions are offered, and all Covid-19 restrictions will be in place and must be adhered to.<br><br>
7. Meal plans, recipes and guides are for your use only. Distribution of these or sharing outside of Weight & Wellness with Bríd is strictly prohibited.<br><br>
    </p>
</div>
    
    
<div class='container mt-5'>
    <h1 class='display-4' >Privacy Policy</h1><hr>
</div>
    
<div class='container'>
    <h3>Last updated on 3rd January 2022</h3><br>
    <p class="tandcs">
Bríd is committed to protecting your personal information and your right to privacy. If you have any questions or concerns about policy or practices with regards to your personal information, please contact me at wwwbrid22@gmail.com.<br><br>



When you visit my website https://wwwbrid22.com, and use my services, you are trusting me with your personal information. I take your privacy very seriously. In this privacy notice, I describe the privacy policy. This will explain to you in the clearest way possible what information is collected, how it is used and what rights you have in relation to it. If there are any terms in this privacy policy that you do not agree with, please discontinue use of this site and its services.<br><br>



This privacy policy applies to all information collected on the website https://wwwbrid22.com  and / or any related services, sales, marketing or events.<br><br>



Please read this privacy policy carefully.<br><br>



<b>1. WHAT INFORMATION IS COLLECTED?</b><br><br>



Personal information you disclose<br><br> 



I collect personal information that you provide to me such as name and other contact information. This is information that you voluntarily provide when expressing an interest in obtaining information about the products and services I provide, when participating in activities on the site or otherwise contacting us.

The personal information I collect can include the following:<br><br>



<b>Name and Contact Data.</b> Your first and last name, email address,  phone number, and other similar contact data.<br><br>



<b>Credentials.</b> The website does not require you to log in and therefore I do not collect any password or usernames.<br><br>



<b>Payment Data.</b> The service sold directly on the website (Weight and Wellness Zoom Meeting) is done securely through the Stripe ( https://stripe.com/ie ) payment system.<br><br>



<b>2. HOW IS YOUR INFORMATION USED?</b><br><br>



I use the information collected or received:<br><br>



&emsp;&emsp;<b>To send you marketing and promotional communications.</b><br><br>
&emsp;&emsp;<b>Request Feedback.</b> I may use your information to request feedback regarding this site and its services.<br><br>


<b>3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</b><br><br>



I only share information with your consent, to comply with laws, to protect your rights, or to fulfill business obligations.<br><br>



I may process or share data based on the following legal basis:<br><br>



&emsp;&emsp;<b>Consent:</b> I may process your data if you have given specific consent to use your personal information in a specific purpose.<br><br>


&emsp;&emsp;<b>Legal Obligations:</b> I may disclose your information where I am legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena.<br><br>


<b>4. ARE COOKIES AND OTHER TRACKING TECHNOLOGIES USED?</b><br><br>



We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information.<br><br>



<b>5. HOW LONG IS YOUR INFORMATION KEPT?</b><br><br>



I will only keep your personal information for as long as it is necessary for the purposes set out in the privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require keeping your personal information for longer than 2 years.<br><br>



<b>6. HOW IS YOUR INFORMATION KEPT SAFE?</b><br><br>



Appropriate technical and organisational security measures have been implemented that are designed to protect the security of any personal information processed. However, please also remember that I cannot guarantee that the internet itself is 100% secure. Although every effort will be made to protect your personal information, transmission of personal information to and from this site is at your own risk. You should only access the services within a secure environment.<br><br>



<b>7. IS INFORMATION COLLECTED FROM MINORS?</b><br><br>



I do not knowingly solicit data from or market to children under 18 years of age. By using the site, you represent that you are at least 18 years of age or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the site. If I learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact me at wwwbrid22@gmail.com .<br><br>



<b>8. ARE UPDATES MADE TO THIS POLICY?</b><br><br>



I may update this privacy policy from time to time. Please see the 'Last updated...' date at the top of this page to see when the most recent amendments were made.<br><br>



<b>9. HOW CAN YOU MAKE CONTACT ABOUT THIS POLICY?</b><br><br>



If you have questions or comments about this policy, you may email me at wwwbrid22@gmail.com .<br><br>
    </p>
</div>
    
{% endblock %}