{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<!--
<div id="content">
<img src="{{url_for('static',filename='logo2.png')}}" class="ribbon"/>
</div>
-->

<div>
<img class="imgcenter img" src="{{url_for('static',filename='bgriffin2.png')}}">
<br>
<div class="writingbox">
<h1 style="text-align: center">Welcome to Weight & Wellness with Bríd!</h1>
<h6 style="text-align: center">Eat Well. Feel Well. Be Well.</h6>
<br>
<p style="text-align: center"><i>"I am a health and wellness coach with over 15 years experience with Weight Watchers Ireland. I was awarded WW Coach of the Year in 2019. In my career, I have supported hundreds of clients in achieving their weight and wellness goals. I do not believe in dieting, but am a firm believer in lifestyle change."</i>
<br>
<br>
Are you interested?
<br>
<br>
Begin the journey of being your best self and join me now!
<br>
<br>
</p>
</div>     
    
<div class="container1">
<section>
<h4 style="text-align: center">What I Offer:</h2><hr>
<h4>In-Person Classes</h4>
<div class="table-holder">
<table class="writingbox">
<div class="writingbox">
<h5>Tuesday - St. John Bosco Centre, Milltown, Donegal Town, Co. Donegal, F94 PHW5</h5><hr>
•	Weigh-In: 5:15-6pm 
<br>
•   Talk: 6-6:30pm (followed by late weigh-ins)
    <br><br>
<h5>Wednesday - St. Mary's Parish Centre, Stranorlar, Co. Donegal, F95 EK52</h5><hr>
•	Weigh-In: 10-10:30am 
<br>
•   Talk: 10:30-11am (followed by late weigh-ins)
    <br><br>
</div>
</table>
</div>
</section><br>
<section>
<h4>Express Check-Ins</h4>
<div class="table-holder">
<table>
<div class="writingbox"> 
<h5>Tuesday</h5><hr>
•	10am-12:30pm<br><br>
<h5>Wednesday</h5><hr>
•	3:30-6:30pm<br><br>
</div>
</table>
</div>
</section> 
<section>
<h4>Weigh & Zoom</h4>
<div class="table-holder">
<table>
<div class="writingbox"> 
<h5>Tuesday</h5><hr>
•	8:30-9:10pm<br><br>
<h5>Wednesday</h5><hr>
•	7:30-8:10pm<br><br>
</div>
</table>
</div>
</section>
</div>
    
<div class="writingbox">
<div style="text-align: center;">
<h6>Express Check-In</h6>
<hr>
<p>Book your face-to-face weigh-in and also receive access to your Zoom support and motivational meeting.
</p>
</div>
</div> 
<div class="writingbox">
<iframe src="https://koalendar.com/e/meet-with-brid-griffin?embed=true" width="100%" height="500px" frameborder="0"></iframe>
</div>
<br>
<div class="writingbox">
<div style="text-align: center;">
<h6>Weight & Wellness Zoom</h6>
<hr>
<p>You weigh yourself, send the result to me, and get feedback. Click on your Zoom link for access to your support and motivational meeting.
</p>
</div>
</div>
<div class="writingbox">
<iframe src="https://koalendar.com/e/weight-and-wellness-zoom-with-brid?embed=true" width="100%" height="500px" frameborder="0"></iframe>
</div>
<br>
<br>
    
{% endblock %}
